:root {
  --gradient: linear-gradient(
    45deg,
    #171818,
    #3a3a38,
    #221f1e,
    #0b0b0a,
    #4d4b4c,
    #000000
  );
}

.gradient-animation {
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
